
button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    color: aliceblue;
    font-family: inherit;
    background-color: #0760f0;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #fa6305;
    background-color: #ffa395;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}